<html>
    <head>
        <link rel="stylesheet" href="./static/css/skeleton.css">
        <link rel="stylesheet" href="./static/css/normalize.css">
        <link rel="stylesheet" href="./static/css/font-awesome.min.css">
        <script src="./static/js/jquery-3.2.1.min.js"></script>
        <style>
            .row {
                height: 50px;
            }
        </style>
    </head>
<body>

<!-- The above form looks like this -->
        <div class="row">
                <div class="one column"></div>
                <div class="ten columns">
                    
                        <h1>Gateway Network Config</h1>
                        <h2>Available Networks</h2>
                        <table class="u-full-width">
                                <thead>
                                  <tr>
                                    <th>SSID</th>
                                    <th>Signal</th>
                                    <th>Security</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% networks.forEach(function(n){ %>
                                        <tr>
                                        <td><%= n.ssid %></td>
                                        <td><%= n.signal_level %></td>
                                        <td><%= n.security %></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                              </table>
                        <h2>Saved Networks</h2>
                        <div class="row">
                          <div class="six columns">
                            <label for="ssidInputLabel">SSID</label>
                          </div>
                          <div class="six columns">
                                <label for="passwordInputLabel">Password</label>
                          </div>
                        </div>
                        <br/>
                      

                        <div id="configTable">
                        <% netconfig.forEach(function(conf){ %>
                        <div class="row">
                            <div class="six columns">
                                <input class="u-full-width ssid" type="text" placeholder="SSID" value='<%= conf.ssid %>'>
                            </div>
                            <div class="five columns">
                                    <input class="u-full-width psk" type="password" placeholder="PASSWORD" value='<%= conf.psk %>'>
                            </div>
                            <div class="one column">
                                    <div class="fa fa-times-circle deletebutton" title="Delete row" style="color:red; font-size: 30px;" aria-hidden="true"></div>
                            </div>
                        </div>
                            

                        <% }); %>
                        </div>
                        <div class="row">
                                <div class="eleven columns">
                                     <br/> 
                                </div>
                                <div class="one column">
                                       
                        <div class="button-primary button" id="addRow">Add Row</div></br>
                                </div>
                                </div>
   
                        <div class="button-primary button" id="saveButton" >Save</div>


                </div>

              </div>             
             
    
</body>
<script>
$(".deletebutton").click(function(){
    //$("#row_"+$(this).data("ssid")).remove();
    $(this).parent().parent().remove();
});

$("#addRow").click(function(){
    $("#configTable").append(`<div class="row">
                            <div class="six columns">
                                <input class="u-full-width ssid" type="text" placeholder="SSID" id="ssidInput" value=''>
                            </div>
                            <div class="five columns">
                                    <input class="u-full-width psk" type="password" placeholder="PASSWORD" id="passwordInput" value=''>
                            </div>
                            <div class="one column">
                                    <div class="fa fa-times-circle deletebutton" title="Delete row" style="color:red; font-size: 30px;" aria-hidden="true"></div>
                            </div>
                            
            </div>
    `);

    $(".deletebutton").click(function(){
    //$("#row_"+$(this).data("ssid")).remove();
        $(this).parent().parent().remove();
    });
});

$("#saveButton").click(function(){
    cData = [];
    //$("#row_"+$(this).data("ssid")).remove();
    $("#configTable .row").each(function() {
        var v = {};
        v["ssid"] = $(this).find(".ssid").val();
        v["psk"] = $(this).find(".psk").val();
        cData.push(v);
    });
   
    $.ajax({
        type: "POST",
        url: "/save",
        data: {data: cData},
        success: function(data){

            // data.redirect contains the string URL to redirect to
            window.location.href = "./";
        },
        dataType: "json"
        });
   
});
</script>
</html>